<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.diov.xppreferences">

    <application>
        <provider
            android:name=".XpPreferencesProvider"
            android:authorities="${applicationId}.xpPreferencesProvider"
            android:exported="false" />
    </application>
</manifest>
